.contenedor1{
    background-color: rgb(180, 57, 222);
    padding: 10px;
    display:flex;
    height: 600px;
    /*width: 600px;*/
    flex-direction:row;
    flex-wrap: wrap;
}


.caja1{
    background-color: rgb(140, 13, 13);
    width: 150px;
    height: 500px;
    margin: 5px;
    flex-grow: 2;    
}

.caja2{
    background-color: rgb(199, 37, 113);
    width: 150px;
    height: 500px;
    margin: 5px;
    flex-grow: 4;
    display: flex;
    flex-wrap: wrap;   
}
.caja21{
    background-color: rgb(182, 127, 255);
    margin: 5px;   
    height: 150px;
    width: 150px;
}

.caja3{
    background-color:greenyellow;
    width: 150px;
    height: 500px;
    margin: 5px;
    flex-grow: 1;
    display: inline-block;   
}
#caja11{
    background-color: pink;
    width: 100px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    position: absolute;
    left: 30px;
    top: 50px;
    color: pink;
}
#caja111{
    background-color: pink;
    width: 100px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    position: absolute;
    left: 150px;
    top: 50px;
    color: pink;
}
#caja12{
    background-color: pink;
    width: 100px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    position: absolute;
    left: 30px;
    top: 300px;
    color: pink;
}
#caja122{
    background-color: pink;
    width: 100px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    position: absolute;
    left: 150px;
    top: 300px;
    color: pink;
}
#caja311{
    background-color: yellow;
    width: 200px;
    height: 50px;    
    margin: 30px;
    position: absolute;    
}
#caja31{
    background-color: yellow;
    width: 70px;
    height: 100px;   
    left: 960px;
    top: 100px;
    margin: 30px;
    position: absolute;    
}
#caja41{
    background-color: rgb(239, 239, 5);
    width: 70px;
    height: 100px;
    left: 1070px;
    top: 100px;
    margin: 30px;
    position: absolute;    
}
#caja3111{
    background-color: rgb(153, 153, 13);
    width: 200px;
    height: 50px;
    
    top: 250px;
    margin: 30px;
    position: absolute;    
}

#caja411{
    background-color: rgb(232, 77, 10);
    width: 70px;
    height: 100px;   
    left: 960px;
    top: 350px;
    margin: 30px;
    position: absolute;    
}
#caja4111{
    background-color: rgb(190, 108, 26);
    width: 70px;
    height: 100px;
    left: 1070px;
    top: 350px;
    margin: 30px;
    position: absolute;    
}